// Variables
$colour-primary: #4D96A9;
$colour-secondary: #855FB1;
$colour-primary-variant: #8FE3F9;
$colour-secondary-variant: #D9B8FF;
$colour-black: #28283d;
$colour-gray: #87879D;
$colour-white: #FAFAFA;