.btn {
  border-radius: 29px;
  padding: 16px 29px;
  background: $colour-primary;
  color: $colour-white;
  text-decoration: none;
  &:hover{
    background: #71C0D4;
  }
  em{
    color: $colour-primary-variant;
  }
  &--secondary{
    background: $colour-secondary;
    &:hover{
      background: #B18BDD;
    }
    em{
      color: $colour-secondary-variant;
    }
  }
}
