.footer{
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-image: url("./../desktop/image-footer.jpg");
  background-color:  $colour-primary;
  background-blend-mode: multiply;
  align-items:center;
  grid-column-gap: 150px;
  color: $colour-white;
  &__heading{
    text-align: left;
    color: $colour-white;
  }
  &__text{
    max-width: 358px;
    font-style: normal;
    font-size: 18px;;
  }
}